.links {
  text-decoration: none;
  color: red;
}

.wrapper {
  background-image: url('../images/blog/tile-bg.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: 15em;
}