.post {
  margin: 1rem 0;
  @media (min-width: 45rem) {
    margin: 0 0 1rem 0;
  }
  a{
    background: rgb(122, 122, 122);
    color: #000000;
    display:block;
    padding: 1rem;
    text-decoration: none;
    border: 3px outset;
  }

  a:hover {
    background: #e4e4e4;
  }

  h2 {
    margin-bottom: 0;
  }

  p{
    margin-top: .5rem;
    color: #000000;
    font-size: .8rem;
    font-style: italic;
  }

  .eventNoLink{
    background: rgb(199, 199, 199);
    color: #000000;
    display:block;
    padding: 1rem;
    text-decoration: none;
  }

}

