#responsive-navbar-nav .nav-link {
  text-align: center;
}

.nav-link a {
  font-size: 1.2rem;
  text-decoration: none;
}

#logo_img{
  width: 100%;
}

.container-fluid .navbar-brand{
  text-align: center;
  margin-right: 0;
}

.display-none{
  -webkit-transition: visibility opacity 0.5s linear;;
  -moz-transition: visibility opacity 0.5s linear;;
  -o-transition: visibility opacity 0.5s linear;;
  -ms-transition: visibility opacity 0.5s linear;;
  visibility: hidden;
  opacity: 0;
  transition: visibility opacity 0.5s linear;
}

.dispay-yes{
  -webkit-transition: visibility opacity 0.5s linear;;
  -moz-transition: visibility opacity 0.5s linear;;
  -o-transition: visibility opacity 0.5s linear;;
  -ms-transition: visibility opacity 0.5s linear;;
  visibility: visible;
  opacity: 1;
  transition: visibility opacity 0.5s linear;
}
